.logo {
    width: 60px;
  }
  
  .reactLogo {
    height: 60px;
    vertical-align: middle;
  }

  .Center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red ;
  }